Question 1. Write a Python program to get a string made of the first 2 and the last 2 chars from a given string. If the string length is less than 2, return instead of the empty string.

In [ ]:
str = input("Enter any string   ")

if len(str)<2:
  print("Empty String")

else:
  print(str[:2] + str[-2:])

Enter any string   w
Empty String

Question 2. Write a Python program to
get the largest number from a list.

In [ ]:
stored_values = []

for i in range(2,14): # just to start from 2 i.e. jumping from 0 and 1..
  stored_values.append(i)

print(max(stored_values))

13

Question 3. Write a Python script to
concatenate following dictionaries to create a new one.

In [ ]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

dic_final = {}

for i in (dic1 , dic2 , dic3):
  dic_final.update(i)

print(dic_final)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Question 4.  Write a Python program which
accepts the radius of a circle from the user and compute the area.

In [ ]:
import math
radius = float(input("Enter the value for radius  "))
def circle_area(radius):
  return math.pi*radius*radius
val = circle_area(radius)
print(val)

Enter the value for radius  1.1
3.8013271108436504

Question 5. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [ ]:
value = int(input("Enter any integer :: "))

def compute_val(val):
  temp_val = val + ((val*10)+val) + ((val * 100)+(val*10)+val)
  return temp_val

output = compute_val(value)

print(output)

Enter any integer :: 3
369

Question 6. Write a Python program to
calculate the number of days between two dates.

In [ ]:
from datetime import date

first_date = date(2014, 7, 2)
last_date = date(2014, 7, 11)

date_gap = last_date - first_date
print(date_gap.days)

9

Question 7. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [ ]:
str = input("Enter any string of your choice :: ")

def prepend_Is(s):
  if len(s) >=2 and s[:2]=="Is":
    return s

  return "Is"+s

show = prepend_Is(str)

print(show)

Enter any string of your choice :: isapple
Isisapple

Question 8. Write a Python program to 
find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
val = int(input("Enter any value :: "))

def check_val(num):
  if num % 2 == 0:
    return " Is an even number "

  return " Is an odd number "

show = check_val(val)
print(show)

Enter any value :: 89
 Is an odd number

Question 9. Write a Python program to
test whether a passed letter is a vowel or not.

In [ ]:
letter = input("Enter any alphabetical letter :: ")

def is_vowel(letter):
  vowel = ['a','A','e','E','i','I','o','O','u','U']

  if letter not in (vowel):
    return "Is not a vowel letter"
  return "Is a vowel letter"

out = is_vowel(letter)

print(out)

Enter any alphabetical letter :: o
Is a vowel letter

Question 10. Write a Python program to
concatenate all elements in a list into a string and return it.

In [ ]:
list_val = ["Hello" , "Everyone" , "How" , "Are" , "You" ,"?"]

def list_to_string(list_val):
  concatenation = ''

  concatenation = ' '.join(list_val)
  return concatenation

print(list_to_string(list_val))

Hello Everyone How Are You ?

Question 11. Write a Python program to
print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [102]:
color_list_1 = set(["White",
"Black", "Red"])

color_list_2 = set(["Red",
"Green"])

for i, j in zip(color_list_1 , color_list_2):
   if i not in j:
     print({i,})

{'Black'}
{'White'}

Question 12. Write a function in a
Python program to compute the greatest common divisor (GCD) of two positive integers.

In [109]:
def gcd(num1, num2):
  if(num2 == 0):
    return num1
  
  else:
    return gcd(num2 , num1%num2)

num1 = int(input("First Number"))
num2 = int(input("Second Number"))
print(gcd(num1 , num2))

First Number5
Second Number10
5

Question 13.  Write a Python function
which accepts two arguments x and y and returns (x + y) * (x + y).

In [112]:
def math_operation(x, y):
  return (x+y) * (x+y)

print(math_operation(int(input("first")) , int(input("second"))))

first4
second3
49

Question 14. Given the below code
snippet, answer the following questions.

def num_square(num):
  square = num * num
  return square

input_num = 121

if input_num > 100:
  result = num_square(5)

print(result)


print(num)



<!--                       -->


What is the scope of num,
square, input_num, result?



What is the lifetime of each
variable? When will they be created and destroyed?



What would happen if
input_num had a value of less than 100?



What would be the scope and
value of `result` if input_num has a value of less than 100?

**Answer 14.**

1. Local , Local , Global , Global

2. The variable 'square' and 'num' is create as soon as the function ** num_square()** is called and destroyed after the execution of the last statement. Whereas the 'input_num' and result are created once.

3. If 'input_value' is less than 100 then nothing will get printed.

4. It will still exist.

In [130]:
# def num_square(num):
#   square = num * num
#   return square

# input_num = 121

# if input_num < 100:
#   result = num_square(5)

#   print(result)


# result == result

Question 15. Create a class called
Country

which has a single class
attribute called AVG_POPULATION.

 Set it to some default
value.

The constructor takes the
parameters country_name and country_code.

The constructor must check
that country_name and country_code are strings. If not it must throw a ValueError.

The constructor must check
if the country code is exactly 3 letters long. If not it must throw a ValueError.

In [234]:
from six import string_types
class Country:
  AVG_POPULATION = 2500
  # temp_name = ''
  # temp_code = ''
  def __init__(self , country_name , country_code):
    self.country_name = country_name
    self.country_code = country_code
    def check():
      if (isinstance(self.country_name , str) and isinstance(self.country_code , str)):
        # if(isinstance(self.country_name , string_types) and isinstance(self.country_code , string_types)):
        return True
      
      else:
        ValueError("Error occured !")
    # try:
    #   self.country_code.len(3)
    # except ValueError as err:
    #   print("Not three letters long code ")


  def country_short_form(self, country_name):
    return self.country_name[:2].upper()

  def is_densely_populated(self , population):
    self.population = population
    if(self.population > self.AVG_POPULATION):
      return True
    else:
      return False

  @staticmethod
  def world_avg_population(self , arr):
    sum = 0
    count = 0
    for i in (self.arr):
      sum += i
      count += 1
    return sum/count

  @property

  def formatted_country_name(self, country_name , country_code):
    return self.country_name + "("+self.country_code +")"

  @formatted_country_name.setter 
  def formatted_country_name(self,  country_name):
    self.country_name = country_name
    

  @formatted_country_name.setter
  def formatted_country_name(self , country_code):
    self.country_code = country_code

  @formatted_country_name.deleter
  def formatted_country_name(self):
    del self.country_name, country_code



userInput = Country("India" , "4324553")
# print(userInput.world_avg_population([1,2,3,4,4]))
print(userInput.country_short_form("India"))

print(userInput.country_name)
print(userInput.country_code)

# form = formatted_country_name
print(userInput.is_densely_populated(75421))

# print(userInput.country_short_form("SriLanka"))

userInput.formatted_country_name = "Bangladesh" , "4555"

print(userInput.country_name)

IN
India
4324553
True
India

Question 16.

In [314]:
class Shapes:
  def __init__(self , length=8 , height=7):
    self.__length = length
    self.__height = height

    def show(self):
      return self.__length + " "+ self.__height
    
    def add(self):
      
      return self.__length + self.__height
    

class Triangle(Shapes):
  def __init__(self, one_side = 8):
    super().__init__()
    self.__one_side = one_side

  def get_side(self):
    return self.__one_side


class Quadrilateral(Shapes):
  def __init__(self , diagonal=7):
    super().__init__()
    self.__diagonal = diagonal
  
  def show_diag(self):
    return self.__diagonal



class Child_Triangle(Triangle):
  def __init__(self , firstangle=78 , secondangle=65):
    super().__init__()
    self.__firstangle = firstangle
    self.__secondangle = secondangle

  def child_triangle_func(self):
    # return self.__firstangle+" "+ self.__secondangle
    print(self.__firstangle , self.__secondangle)

class Child_Quad(Quadrilateral):
  def __init__(self , side3 , side4):
    super().__init__()
    self.__side3 = side3
    self.__side4 = side4


  def child_quad_func(self):
    # print(self.__side3 , self.__side4)
    return self.__side3+" "+self.__side4

In [319]:
q = Quadrilateral(89)
cT = Child_Triangle(70)
print(q.show_diag())
# print(cT.child_triangle_func())

t = Triangle()
print(t.get_side())

89
8

Question 17.

In [1]:
num0 = 10

def five_exception():
  try:
    num1 = input("Enter 1st number:")
    num2 = input("Enter 2nd number:")
    result = (int(num1) * int(num2))/(num0 * int(num2))
  except ValueError as ve:
    print("Value Error")
    exit()
  except ZeroDivisionError as zde:
    print("Zero Division Error")
    exit()
  except TypeError as te:
    print("Type Error")
    exit()
  except SystemError as se:
    print("System Error")
    exit()
  except ModuleNotFoundError:
    print('Module Not Found Error')
    exit()
  print(result)

In [2]:
obj = five_exception()

Enter 1st number:12
Enter 2nd number:0
Zero Division Error

UnboundLocalError: ignored

Question 18.

In [99]:
class Custom_Exception_One(Exception):
  def __init__(self , *args):
    super().__init__()
    pass


class Custom_Exception_Two(Exception):
  def __init__(self,*args):
    super().__init__()
    pass


class Custom_Exception_Three(Exception):
  def __init__(self , *args):
    super().__init__()
    pass


class Custom_Exception_Four(Exception):
  def __init(self, *args):
    super().__init__()
    pass

Question 19

In [9]:
import datetime
def date_string(date_val):
  try:
    datetime.datetime.strftime(date_val , "%m/%d/%y")

SyntaxError: ignored

In [93]:
import re
def check_valid_credit(num):
  str_num = str(num)

  regex_syntax = "^[a-zA-Z0-9]\d{2}[a-zA-Z0-9](-\d{3}){2}[A-Za-z0-9]$" 
  check = re.compile(regex_syntax)

  if(str_num == ''):
    return False
  
  match_num = re.match(check , str_num)

  if match_num is None:
    return False

  else:
    return True

In [94]:
c = check_valid_credit(4155279860457)
print(c)

False

In [20]:
print(check_valid_credit(6155279860457))

False

Question 20

In [98]:
import timeit

def function_timer(function):
  def new_function():
    start_time = timeit.default_timer()
    function()
    elapsed = timeit.default_timer() - start_time
    print('Function "{name}" took {time} seconds to complete.'.format(name=function.__name__, time=elapsed))
  return new_function()

@function_timer
def addition():
  total = 0
  for i in range(0,1000000):
    total += i
  return total

Function "addition" took 0.07938011700025527 seconds to complete.

Question 21.

In [30]:
import math

sin_call = math.sin(45)

print(sin_call)

0.8509035245341184

## Below the commented code snippets is for importing it as a module.
## Saving it using mycity.py and then calling it as 
## import mycity  and then mycity.city_name("Delhi") will return 'Delhi' and likewise

In [34]:
# Creating own module..

# def cit_name(city):
#   return city

# def city_state(state):
#   return state

# def city_pincode(code):
#   return code



# import mycity as mc

# mc.city_name("Delhi")   ----o/p => Delhi

Question 22.

In [61]:
from numpy import math

c  = math.cos(10)
t = math.tanh(34)

r = math.radians(43)

print(c,t,r)

-0.8390715290764524 1.0 0.7504915783575618

Question 23.

In [62]:
data = "This is a python assignment and next would be on Flask"
file = open("file1.txt" , "w")

In [63]:
file.write(data)
print("Written successfully")
file.close()

Written successfully

In [65]:
read_content = open("file1.txt" , "r")

print(read_content.read())
read_content.close()

This is a python assignment and next would be on Flask

In [67]:
fileOpen = open("file1.txt" , "a")

fileOpen.write("This is the appended text data into the previous file")
print("Appended successfully !!\n")

Appended successfully !!

In [68]:
fopen = open("file1.txt" , "r")
print(fopen.read())

fopen.close()

This is a python assignment and next would be on FlaskThis is the appended text data into the previous file

Question 24.

In [73]:
import pandas as pd
data = {
    'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96,
            'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26,
            'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52,
            'GDP': 19_485.39, 'CONT': 'N.America',
            'IND_DAY': '1776-07-04'},
    'IDN': {'COUNTRY': 'Indonesia', 'POP': 268.07, 'AREA': 1_910.93,
            'GDP': 1_015.54, 'CONT': 'Asia', 'IND_DAY': '1945-08-17'}
}

columns = ('COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY')

In [77]:
df = pd.DataFrame(data = data , index = columns).transpose()

df.head(5)

       COUNTRY      POP     AREA      GDP       CONT     IND_DAY
CHN      China  1398.72  9596.96  12234.8       Asia         NaN
IND      India  1351.16  3287.26  2575.67       Asia  1947-08-15
USA         US   329.74  9833.52  19485.4  N.America  1776-07-04
IDN  Indonesia   268.07  1910.93  1015.54       Asia  1945-08-17

In [78]:
df.to_csv("country_data.csv")
print("Converted successfully to a csv file !!")

Converted successfully to a csv file !!

In [79]:
pincode = [123,567,789,987]
df['Pincode'] = pincode

In [80]:
df

       COUNTRY      POP     AREA      GDP       CONT     IND_DAY  Pincode
CHN      China  1398.72  9596.96  12234.8       Asia         NaN      123
IND      India  1351.16  3287.26  2575.67       Asia  1947-08-15      567
USA         US   329.74  9833.52  19485.4  N.America  1776-07-04      789
IDN  Indonesia   268.07  1910.93  1015.54       Asia  1945-08-17      987

In [81]:
df.to_csv("country.csv")

In [83]:
print("After updating, reading the csv file :: \n\n")
pd.read_csv("country.csv")

After updating, reading the csv file ::

  Unnamed: 0    COUNTRY      POP  ...       CONT     IND_DAY Pincode
0        CHN      China  1398.72  ...       Asia         NaN     123
1        IND      India  1351.16  ...       Asia  1947-08-15     567
2        USA         US   329.74  ...  N.America  1776-07-04     789
3        IDN  Indonesia   268.07  ...       Asia  1945-08-17     987

[4 rows x 8 columns]